body, div, dl, dt, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form, ol, ul, li{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px; 
}

#MemberListAll{
    background-color: #313131;
    width: 1125px;
    height: 2346px;
}
#MemberListTitle1 {
    font-size: 150px;
    font-family: "VITRO CORE TTF";
    font-style: italic;
    color: rgb(255, 0, 102);
    line-height: 0.6;
    text-align: center;
    position: absolute;
    left: 211px;
    top: 154px;
    z-index: 3;
  }

 #MemberListTitle2{
    font-size: 150px;
    font-family: "VITRO CORE TTF";
    font-style: italic;
    color: rgb(255, 0, 102);
    line-height: 0.6;
    text-align: center;
    position: absolute;
    left: 395.032px;
    top: 343px;
    z-index: 4;
}
#postInfoAll{
    background-color: #ffffff;
    position: absolute;
    left: 102px;
    top: 549px;
    width: 920px;
    height: 1500px;
    z-index: 5;
}   
#postTable {
    background-color: rgb(255, 255, 255);
    /* position: absolute;
    top: 0px; 
    z-index: 5;*/
    width: 920px;
    height: 1170px;
    
}
#postTable #postTableHead{
    font-size: 50px;
    font-family: "VITRO CORE TTF";
    color: rgb(49, 49, 49);
    line-height: 1.8;
    text-align: center;
    /* position: absolute;
    top: 5px;
    z-index: 8; */
    border-bottom:8px solid #a6a6a6;
} 
#postTable #postTableHead .postTableHeadData{
    padding-left: 71px;
    padding-right: 71px;  
    padding-top: 20px;
    border-bottom:8px solid #a6a6a6;
}   

#postTable #postTableBody{
    font-size: 50px;
    font-family: "VITRO PRIDE TTF";
    color: rgb(49, 49, 49);
    line-height: 1.8;
    text-align: center;
}

#postTable #postTableBody .postTableBodyData{
    padding-top: 10px;
    border-bottom:8px solid #a6a6a6;
}

  
#postSearch{
    font-family: "VITRO PRIDE TTF";
    font-size: 50pt;
    border-width: 10px;
    border-color: rgb(255, 0, 102);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    width: 646px;
    height: 76px;
    margin-top: 60px;
    margin-left: 140px;
}
#memberList{
    font-size: 50px;
    font-family: "VITRO PRIDE TTF";
    color: rgb(255, 0, 102);
    list-style: none;
    margin-top: 50px;
    cursor: pointer;
}
#memberList li{
    font-size: 50px;
    font-family: "VITRO PRIDE TTF";
    color: rgb(255, 0, 102);
    float: left;
    list-style: none;
    margin-right: 40px;
}
#memberList>li:nth-child(1){
    margin-left: 200px;
}
.listfooter1{
    font-size: 60px;
    font-style: italic;
    font-family: "VITRO CORE TTF";
    color: rgb(255, 0, 102);
    line-height: 1.5;
    text-align: center;
    position: absolute;
    left: 346.484px;
    top: 2120px;
    z-index: 7;
}
.listfooter2{
    font-size: 50px;
    font-family: "VITRO PRIDE TTF";
    color: rgb(255, 0, 102);
    line-height: 1.8;
    text-align: center;
    position: absolute;
    left: 193px;
    top: 2203.776px;
    z-index: 6;
}

  